/* Reset basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #F7F4EA;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header and Navigation */
header {
    background-color: #545677;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: inline-block; /* Ensures background shows */
    transition: background 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
    background: #52796F;
    color: #333;
}


/* Hero Section */
#hero {
    display: flex;
    background: #DED9E2;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    width: 100%;
    text-align: center;
}

#hero h1 {
    font-size: 3rem;
    color: #52796F;
}

/* Main Content */
#main {
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

/* Footer */
footer {
    background: #545677;
    color: white;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 5px solid #C0B9DD;
    margin-top: auto;
}

footer h3 {
    margin-bottom: 10px;
    color: #F7F4EA;
}

footer ul {
    list-style-type: none;
}

footer ul li,
footer a {
    color: #F7F4EA;
    text-decoration: none;
    margin-bottom: 5px;
    display: block;
}

footer a:hover {
    color: #C0B9DD;
}

