/* Reset basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #F7F4EA;
    color: #333;
    line-height: 1.6;
    min-height: 100vh;
}

/* Header and Navigation */
header {
    background-color: #545677;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
    background: #DED9E2;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    width: 100%;
    text-align: center;
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: inline-block; /* Ensures background shows */
    transition: background 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
    background: #52796F;
    color: #333;
}
